/* Reset og generelle styles */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Cinzel Decorative', Helvetica, sans-serif;
}
