/* Reset og generelle styles */
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Cinzel Decorative', Helvetica, sans-serif;
}

/* Container med baggrund */
.macbook-air {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    /* Baggrundsbillede */
    background-image: url('img/werewolf-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
